.card{
    background-color: var(--white);
    color: var(--dark-blue-2);
    margin-inline: auto;
    width: min(95vw, 20.5rem);
    border-radius: .625rem;
    padding: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    &__text{
        display: grid;
        gap: .875rem;
    }

    &__image--empty{
        margin-bottom: .75rem;
    }

    &--empty{
        padding-block: 4.75rem;
        align-items: center;
        text-align: center;
    }
}