@use "../utilities" as u;

.comment{
    color: var(--dark-blue-2);
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: auto ;
    row-gap: 1rem;
    position: relative;


    &__user{
        grid-column: 4/20;
        @include u.breakpoint(medium){
            grid-column: 3/20;
        }
    }

    &__image{
        border-radius: 10rem;
        width: 3rem;
        height: auto;
        justify-self: center;
    }

    &__content{
        grid-column: 1/end;
        @include u.breakpoint(medium){
            grid-column: 3/end;
        }
    }

    &__reply--button{
        grid-column: 33;
        grid-row: 1;
        color: var(--blue);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    &__divider{
        height: .0625rem;
        grid-column: 1/end;
        background-color: var(--grey-blue);
        margin-top: 1rem;
        &--vertical{
            width: .0625rem;
            height: auto;
            background-color: var(--grey-blue);
            position: absolute;
            bottom: 0;
            height: 100%;
            @include u.breakpoint(medium){
                height: calc(100% - 3.5rem);
                left: 1.5rem;
            }
        }
            
    }

    &__replies{
        position: relative;
        grid-template-columns: repeat(32, 1fr);
        row-gap: 1rem;
        display: grid;
        grid-row: 3;
        grid-column: 1/end;
        @include u.breakpoint(medium){
            position: unset;
        }
    }

    &--reply{
        grid-column: 4/end;
        @include u.breakpoint(medium){
            grid-column: 3/end;
        }
    }

    &__replying-to{
        color: var(--purple);
        font-weight: 700;
    }

    &__add-reply{
        grid-column: 1/end;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap : 1rem;

        @include u.breakpoint(medium){
            grid-column: 3/end;
        }

        &--sm{
            @include u.breakpoint(medium){
                grid-column: 5/end;
            }
        }
        &--input{
            grid-column: 1/6;
            width: 100%;
            @include u.breakpoint(medium){
                grid-column: 1/5;
            }
        }
        &--button{
            grid-column: 5;
            grid-row: 2;
            @include u.breakpoint(medium){
                grid-row: 1;
            }
        }
    }
}