.feedback{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 4rem;
    width: min(100vw - 3rem, 100%);
    margin-inline: auto;
    &__nav{
        display: flex;
        justify-content: space-between;
    }

    &__comments{
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        background-color: var(--white);
        border-radius: .6375rem;
        padding: 2rem;
        h3{
            color: var(--dark-blue-2)
        }
    }
    
}