@use "../utilities" as u;

.header{
    background-color: var(--dark-blue-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    height: 3.5rem;
    width: 100%;
    @include u.breakpoint(medium){
        width: min(100vw - 3rem, 100%);
        margin-inline: auto;
        border-radius: .6375rem;
        height: 4rem;
    }

    &__menu{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__image{
        display: none;
        @include u.breakpoint(medium){
            display: block;
        }
    }
    
    &__amount{
        display: none;
        @include u.breakpoint(medium){
            display: block;
        }
    }

    &__select{
        display: flex;
        align-items: center;
        height: max-content;
        gap: .5rem;
        color: var(--light-grey);
        span{
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: .5rem;
            svg{
                margin-bottom: .25rem;
                align-self: end;
                stroke: var(--light-grey);
            }
        }
    }
}