.header{
    background-color: var(--dark-blue-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    height: 3.5rem;
    width: 100%;

    &__image{
        display: none;
    }
    
    &__amount{
        display: none;
    }

    &__select{
        display: flex;
        align-items: center;
        height: max-content;
        gap: .5rem;
        span{
            font-weight: 400;
        }
    }
}