.input-field{
    background-color: var(--background-color);
    border-radius: .6375rem;
    border: none;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);

    color: var(--dark-blue);

    &__text-area{
        resize: none;
        height: 5rem;
    }

    &:hover, :focus{
        border: 1px solid var(--blue);
    }

    &__wrapper{
        position: relative;
        svg{
            position: absolute;
            right: 1rem;
            top: calc(50% + .35rem) ;
        }
    }

    &__select{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        cursor: pointer;
        p{
            grid-column: 1;
        }
        svg{
            grid-column: 2;
            justify-self: end;
            align-self: center;
        }
    }

    &__error{
        border-color: var(--red);
        &:hover{
            border-color: var(--red);
        }
        &--text{
            color: var(--red);
            font-size: .8375rem;
        }
    }
}