@use "../utilities" as u;

.container{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 69.375rem;
    position: relative;
    padding-bottom: 5vh;

    @include u.breakpoint(medium){
        padding-block: 2rem;
     }

    @include u.breakpoint(large){
       padding-block: 4rem;
    }

    &--row{
        @include u.breakpoint(large){
            flex-direction: row;
            gap: 1.875rem;
        }
    }

    &--padding-top{
        padding-block: 2rem;
    }

    &--sm{
        width: min(100vw - 3rem, 34rem);
        padding-block: 5rem;
    }
}