html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}


