:root{
    --background-color: #F7F8FD;;
    --purple: #AD1FEA;
    --red: #D73737;
    --white: #FFFFFF;
    --light-grey: #F2F4FF;
    --light-blue: #62BCFA;
    --blue: #4661E6;
    --dark-blue-1: #373F68;
    --dark-blue-2: #3A4374;
    --grey-blue: #647196;
    --salmon: #F49F85;

    --light-grey-hover: #CFD7FF;

    --purple-hover: #C75AF6;

    --blue-hover: #8397F8;
}