:root{
    --background-color: #F2F4FF;
    --text-color: white;
    --purple: #AD1FEA;
    --red: #D73737;
    --white: #FFFFFF;
    --light-grey: #F7F8FD;
    --light-blue: #62BCFA;
    --blue: #4661E6;
    --dark-blue-1: #373F68;
    --dark-blue-2: #3A4374;
    --grey-blue: #647196;
    --salmon: #F49F85;
}