h1, h2, h3, h4{
    font-weight: 700;
    line-height: 1.45;
    margin: 0;
}

p{
    margin: 0;
    font-size: clamp(.8125rem, 2vw,1rem);
}

.p--bold{
    font-weight: 700;
}

.p-1{
    font-size: .9375rem;
}

.p-2{
    font-size: .8125rem;
    font-weight: 600;
}

a, a:visited, a:active{
    text-decoration: none;
}

h1{
    font-size: 1.5rem;
    letter-spacing: -.02rem;
}

h2{
    font-size: 1.25rem;
    letter-spacing: -.0156rem;
}

h3{
    font-size: 1.125rem;
    letter-spacing: -.0156rem;
}

h4{
    font-size: 1.5rem;
    letter-spacing: -.0125rem;
}

